
img
{
	border: 0px;
	vertical-align: middle;
}

i, em
{
	font-style: italic;
}

body
{
	font-family: 'source_sans_proregular';
	background-color: #e7e7e7;
	margin: 0px;
	padding: 0px;
	color: #ffffff;
	z-index: 1;
	font-size: 14px;
}

input
{
	font-family: 'source_sans_proregular';
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#menu_bg
{
	position: absolute;
	width: 100%;
	height: 61px;
	left: 0px;
	top: 0px;
	background-image: url('../img/menu_bg.png');
	z-index: 40;
}

#container
{
	position: relative;
	width: 1000px;
	margin: 0px auto 0px auto;
}

	#menu
	{
		position: relative;
		width: 100%;
		height: 55px;
		overflow: hidden;
		z-index: 50;
	}
	
		.menubutton
		{
			position: relative;
			float: left;
			margin-top: 25px;
			margin-right: 18px;
			font-size: 16px;
			font-weight: bold;
			float: left;
			cursor: pointer;
			font-size: 16px;
			letter-spacing: 1px;
		}
		
			.menubutton:first-child
			{
				margin-left: 70px;
			}
			
			.menubutton:last-child
			{
				margin-right: 0px;
			}
			
			.menubutton a
			{
				color: inherit;
				text-decoration: none;
			}
		
		#menulist
		{
			position: absolute;
			top: 55px;
			left: 130px;
			width: 355px;
			background-color: #ffffff;
			color: #000000;
			box-shadow: 1px 1px 6px 4px #cecece;
			-webkit-box-shadow: 1px 1px 6px 4px #cecece;
			-moz-box-shadow: 1px 1px 6px 4px #cecece;
			z-index: 30;
		}
		
			.menulistitem
			{
				position: relative;
				margin: 10px 20px;
				font-size: 1.15em;
			}
			
			#menulist a
			{
				color: inherit;
				text-decoration: none;
			}
			
			.menuhidden
			{
				display: none;
			}

		#menusearch
		{
			position: relative;
			float: right;
			margin-top: 20px;
			margin-right: 20px;
		}
		
			#search_toggle
			{
				position: relative;
				width: 26px;
				height: 26px;
				cursor: pointer;
			}
			
		#searchbar
		{
			position: absolute;
			top: 55px;
			right: 70px;
			width: 200px;
			height: 26px;
			padding: 2px;
			background-color: #ffffff;
			color: #000000;
			box-shadow: 1px 1px 6px 4px #cecece;
			-webkit-box-shadow: 1px 1px 6px 4px #cecece;
			-moz-box-shadow: 1px 1px 6px 4px #cecece;
			z-index: 30;
		}	
		
			#menusearch_input
			{
				position: relative;
				line-height: 20px;
				padding: 3px 6px;
				border: 0px;
				width: 100%;
				text-align: right;
			}
			
		#menusize
		{
			position: relative;
			float: right;
			margin-top: 25px;
			height: 20px;
			display: table;
		}
		
			.menusize_select
			{
				position: relative;
				display: table-cell;
				vertical-align: bottom;
				padding-right: 5px;
				cursor: pointer;
				line-height: 20px;
			}
			
			.menusize_select:last-child
			{
				padding-right: 0px;
			}
			
			#menusize_s
			{
				font-size: 14px;
			}

			#menusize_m
			{
				font-size: 17px;
			}

			#menusize_l
			{
				font-size: 20px;
			}

			
	#logo
	{
		position: absolute;
		background-image: url('../img/logo.png');
		background-size: 168px 168px;
		top: 25px;
		left: -84px;
		width: 168px;
		height: 168px;
		z-index: 60;
	}
	
	
	#footer
	{
		position: relative;
		background-color: #ffffff;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
		#footer_line
		{
			position: relative;
			margin: 20px 30px 10px 30px;
			border-top: solid 2px #000000;
		}
		
		#footer_elements
		{
			position: relative;
			margin-left: auto;
			margin-right: auto;
			width: 400px;
			display: table;
			overflow: hidden;
		}
		
			.footer_element
			{
				position: relative;
				float: left;
				display: table-cell;
				width: 100px;
				line-height: 20px;
				font-size: 1.1em;
				color: #000000;
				text-align: center;
			}
			
			.footer_element a
			{
				color: inherit;
				text-decoration: none;
			}
			
		#footer_text
		{
			position: relative;
			margin-top: 15px;
			font-size: 13px;
			color: #000000;
			text-align: center;
		}	
	
	
	.contentcontainer
	{
		position: relative;
		width: 100%;
		min-height: 400px;
		background-color: #ffffff;
	}
	
	
	#slider_container
	{
		position: relative;
		width: 1000px;
		height: 405px;
		overflow: hidden;
	}
	
		.slider_item
		{
			position: absolute;
			width: 1000px;
			height: 405px;
			left: 1000px;
			top: 0px;
		}
		
		.slider_item:first-child
		{
			left: 0px;
		}
	
	#header
	{
		position: relative;
		width: 100%;
		height: 405;
	}
	
		#header img
		{
			position: relative;
			width: 100%;
			height: 405px;
		}
		
	#mosaic
	{
		position: relative;
		margin: 60px 70px 0px 70px;
		padding-bottom: 60px;
		width: 860px;
	}
	
		.mosaic_item
		{
			position: relative;
			height: 373px;
		}
		
			.mosaic_item a
			{
				text-decoration: none;
				color: inherit;
			}
		
			.mosaic_item.big
			{
				width: 570px;
			}
			
				.mosaic_big_img
				{
					position: absolute;
					z-index: 10;
					left: 0px;
					top: 0px;
					width: 570px;
					height: 373px;
				}
				
				.mosaic_big_text
				{
					position: absolute;
					display: table;
					overflow: hidden;
					width: 500;
					margin: 0px 35px;
					height: 373px;
					z-index: 20;
					left: 0px;
					top: 0px;
				}
				
					.mosaic_big_text_dummy
					{
						position: relative;
						display: table-cell;
						vertical-align: middle;
						text-align: center;
						font-size: 25px;
						font-family: 'crimson_textsemibold';
					}
					
					.mosaic_big_readmore
					{
						position: relative;
						font-size: 15px;				
						width: 100%;
						margin-top: 15px;
						font-weight: bold;
						letter-spacing: 1px;
					}
					
						.mosaic_big_readmore span
						{
							border-bottom: 1px solid #ffffff;
						}
						
				.mosaic_blog_text
				{
					z-index: 20;
					color: #000000;
					position: absolute;
					top: 40px;
					left: 30px;
				}		
						
					.mosaic_blog_text_content1
					{
						font-family: 'crimson_textsemibold';
						font-size: 30px; 
						width: 450px;
					}
					
					.mosaic_blog_text_content2
					{
						font-size: 15px;
						width: 350px;
					}
					
					.mosaic_blog_text_separator
					{
						border-bottom: solid 1px #000000;
						margin: 10px 0px 15px 0px;
						width: 60px;
					}
					
				.mosaic_blog_readmore
				{
					color: #ffffff;
					z-index: 20;
					position: absolute;
					left: 30px;
					bottom: 30px;
					font-weight: bold;
					letter-spacing: 1px;
				}	

					.mosaic_blog_readmore span	
					{
						border-bottom: 1px solid #ffffff;
					}
				
				
			.mosaic_item.small
			{
				width: 280px;
				background-color: #60c0d0;
			}
			
				.mosaic_item.small .mosaic_small_img
				{
					position: relative;
					width: 100%;
					height: 160px;
					vertical-align: top;
				}
				
				.mosaic_item.small .mosaic_small_text
				{
					position: relative;
					margin: 15px;
					height: 140px;
					width: 250px;
					overflow: hidden;
					color: #ffffff;
				}
				
					.mosaic_small_text_header
					{
						font-size: 25px;
						line-height: 27px;
						font-family: 'crimson_textsemibold';
						margin-bottom: 10px;
					}
					
					.mosaic_small_text_content
					{
						font-size: 16px;
					}
					
					.mosaic_small_readmore
					{
						position: relative;
						font-size: 15px;				
						width: 250px;
						margin: 0px 15px;
						font-weight: bold;
						letter-spacing: 1px;
					}
						
						.mosaic_small_readmore span
						{
							border-bottom: 1px solid #ffffff;
						}
						
						
			
	#blog_select
	{
		position: relative;
		width: 860px;
		margin: 60px 70px 0px 70px;
		height: 255px;
	}		
	
		.blogger
		{
			position: relative;
			float: left;
			width: 280px;
			height: 255px;
			margin-right: 10px;
			color: #60c0d0;
			cursor: pointer;
		}
		
			.blogger.inactive
			{
				color: #3e3d40;
			}
		
			.blogger:nth-child(3n+3)
			{
				margin-right: 0px;
			}
		
			.blogger_inactive
			{
				display: none;
			}
			
			.blogger_active, .blogger_inactive
			{
				position: relative;
				width: 100%;
				height: 120px;
			}
			
			.blogger_desc
			{
				position: relative;
				margin-top: 5px;
				font-size: 15px;
				height: 135px;
				overflow: hidden;
				font-style: italic;
				line-height: 18px;
			}

	#blog_info
	{
		position: relative;
		width: 860px;
		margin: 0px 70px 0px 70px;
		border-top: solid 2px #3e3d40;
		border-bottom: solid 2px #3e3d40;
		color: #3e3d40;
		font-size: 17px;
		text-align: center;
		padding: 4px 0px 4px 0px;
		font-weight: bold;
	}
	
	#blog_entries
	{
		position: relative;
		margin: 20px 70px 0px 70px;
	}
	
		#blog_entries a
		{
			color: inherit;
			text-decoration: none;
		}
	
		.blog_entry
		{
			position: relative;
			width: 278px;
			height: 368px;
			border: solid 1px #c6c7c8;
			margin-bottom: 10px;
			cursor: pointer;
		}
		
			.blog_header_img
			{
				position: relative;
				width: 278px;
				height: 86px;
				vertical-align: middle;
			}
			
			.blog_header_text
			{
				position: absolute;
				left: 100px;
				top: 15px;
				font-size: 15px;
				line-height: 18px;
			}
			
			.blog_headline
			{
				position: relative;
				font-size: 21px;
				width: 100%;
				color: #3e3d40;
				line-height: 25px;
				font-family: 'crimson_textsemibold';
				width: 230px;
				margin: 24px 24px 0px 24px;
				font-weight: bold;
			}
			
			.blog_teaser
			{
				position: relative;
				font-size: 15px;
				color: #3e3d40;
				width: 230px;
				margin: 5px 24px 0px 24px;
				height: 228px;
				line-height: 18px;
			}
			
	.itemlist_item
	{
		position: relative;
		padding: 60px 0px;
		margin: 0px 30px;
		overflow: hidden;
		border-bottom: solid 1px #3e3d40;
		color: #3e3d40;
	}			
	
		.itemlist_item a
		{
			color: inherit;
			text-decoration: none;
		}
	
		.itemlist_item:first-child
		{
			padding-top: 120px;
		}
		.itemlist_item:last-child
		{
			border-bottom: 0px;
			padding-bottom: 60px;
		}
		
	.itemlist_img
	{
		position: relative;
		float: right;
		width: 300px;
		height: 200px;
		margin-left: 20px;
	}	
	
		.itemlist_img img
		{
			position: relative;
			width: 300px;
		}
		
	.itemlist_text
	{
		position: relative;
		float: left;
		width: 540px;
		height: auto;
		font-size: 17px;
		color: #3e3d40;
	}	
	
		.itemlist_text_header
		{
			font-weight: bold;
			margin-bottom: 10px;
		}
		
		.news_readmore
		{
			margin-top: 20px;
			font-weight: bold;
			cursor: pointer;
			text-decoration: underline;
		}
		
	#noresults
	{
		position: relative;
		padding-top: 50px;
		text-align: center;
		font-size: 20px;
		color: #000000;
	}	
		
			