

#itemheader
{
	font-size: 40px;
}


#itemcol_big .module_text
{
	font-size: 20px;
	line-height: 30px;
}

#itemcol_small .module_text
{
	font-size: 18px;
	line-height: 30px;
}

.mosaic_blog_text_content2
{
	font-size: 17px;
}

.mosaic_big_text_content
{
	font-size: 30px;
}

.mosaic_small_text_content
{
	font-size: 17px;
}

.mosaic_small_readmore, .mosaic_big_readmore, .mosaic_blog_readmore
{
	font-size: 16px;
}


#blog_select
{
	height: 300px;	
}

	.blogger
	{
		height: 300px;
	}
	
		.blogger_desc
		{
			font-size: 17px;
		}

.blog_entry
{
	height: 380px;
}

	.blog_headline
	{
		font-size: 23px;
		line-height: 26px;
	}

	.blog_header_text
	{
		font-size: 17px;
	}
	
	.blog_teaser
	{
		font-size: 16px;
		height: auto;
	}
	
	
.itemlist_text
{
	font-size: 19px;
}	
.itemlist_text_header
{
}	
	