

#itemheader
{
	font-size: 45px;
}

#itemcol_big .module_text
{
	font-size: 23px;
	line-height: 33px;
}

#itemcol_small .module_text
{
	font-size: 20px;
	line-height: 32px;
}

.mosaic_blog_text_content2
{
	font-size: 17px;
}

.mosaic_big_text_content
{
	font-size: 32px;
}

.mosaic_small_text_content
{
	font-size: 18px;
}

.mosaic_small_readmore, .mosaic_big_readmore, .mosaic_blog_readmore
{
	font-size: 17px;
}


#blog_select
{
	height: 330px;	
}

	.blogger
	{
		height: 330px;
	}
	
		.blogger_desc
		{
			font-size: 19px;
		}

.blog_entry
{
	height: 450px;
}

	.blog_headline
	{
		font-size: 25px;
		line-height: 27px;
	}

	.blog_header_text
	{
		font-size: 19px;
	}
	
	.blog_teaser
	{
		font-size: 17px;
		height: auto;
	}
	
	
.itemlist_text
{
	font-size: 21px;
}	
.itemlist_text_header
{
}	
