
#container
{
	width: 320px;
}

#logo
{
	top: 5px;
	height: 40px;
	width: 40px;
	left: 20px;
	background-size: 40px 40px;
	background-repeat: no-repeat;
}

#menu
{
	height: 50px;
}

#menu_bg
{
	margin-top: -10px;
}

#mobile_menu
{
	position: relative;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	letter-spacing: 1px;
	line-height: 50px;
	margin-left: 80px;
}

#menu_mobile
{
	position: fixed;
	left: 0px;
	top: 3000px;
	width: 100%;
	z-index: 9999;
	background-color: #60c0d0;
}

	#menu_mobile_close
	{
		position: relative;
		width: 50px;
		height: 39px;
		background-image: url('../img/mobile_menu_close.png');
		background-size: 50px auto;
		margin: 30px auto;
		
		
	}
	
	
	.menubutton:first-child
	{
		margin-left: auto;
	}
	
	.menubutton
	{
		float: none;
		margin: 20px auto;
		font-size: 20px;
		text-align: center;
		width: 320px;
		line-height: 20px;
		color: #ffffff;
	}
	
		.menulistitem
		{
			position: relative;
			font-size: 15px;
			margin: 15px auto;
			color: #ffffff;
			text-align: center;
			line-height: 18px;
		}
		
			.menulistitem a
			{
				color: inherit;
				text-decoration: none;
			}

			
#slider_container
{
	width: 320px;
	height: 130px;
}

	.slider_item
	{
		width: 320px;
		height: 130px;
	}
	
#mosaic
{
	width: 300px;
	margin: 20px;
	margin-bottom: 0px;
}

#footer_elements
{
	width: 320px;
	font-size: 12px;
}

.footer_element
{
	width: 80px;
}

#footer_text
{
	width: 300px;
	margin: 15px 10px;
	
}



#blog_entries
{
	width: 300px;
	padding: 20px 20px;
	margin: 0px;
}




#itemheader_img
{
	width: 320px;
	height: 130px;
}

#itemcontainer
{
	width: 300px;
	padding: 30px 10px;
}

	#itemheader
	{
		width: 300px;
		font-size: 20px;
	}
	
	#itemcol_big
	{
		width: 300px;
		margin-right: 0px;
	}
	
	
		
	#itemcol_small
	{
		margin-top: 20px;
		border-top: solid 2px #000000;
		padding-top: 20px;
		width: 300px;
	}	
	
.module
{
	position: relative;
	float: left;
	margin-bottom: 10px;
}

	#itemcol_big .module_text, #itemcol_small .module_text
	{
		font-size: 13px;
		line-height: 15px;
	}

	
	#itemcol_big .module_video_iframe, #itemcol_small .module_video_iframe
	{
		width: 300px;
		height: 167px;
	}
	
.itemlist_item:first-child
{
	padding-top: 30px;
}

.itemlist_item:last-child
{
	padding-bottom: 0px;
}

.itemlist_item
{
	width: 300px;
	margin: 0px 10px;
	padding: 20px 0px;
}

.itemlist_text
{
	width: 300px;
}

.news_readmore
{
	width: 300px;
	margin-bottom: 20px;
}

.itemlist_img
{
	margin-left: 0px;
}

#blog_select, #blog_info
{
	display: none;
}


#menu_search
{
	position: relative;
	width: 300px;
	margin: 10px;
	overflow: hidden;
}

	#menu_search img
	{
		position: relative;
		float: left;
		width: 20px;
		height: 20px;
		margin: 0px 15px 0px 0px;
		
	}

	#mobile_search
	{
		position: reltaive;
		float: left;
		border: 0px;
		padding: 0px;
		width: 265px;
		line-height: 20px;
	}