

.content_h4
{
	margin-top: 10px;
}

#current_image_container, #mirrored_image_container
{
	position: relative;
	overflow: hidden;
	padding: 15px 0px;
	float: left;
	
}

	.original, .mirrored
	{
		position: relative;
		float: left;
		width: 298px;
		height: 344px;
		margin-right: 50px;
	}
	
	.blurred, .mirrored_blurred
	{
		width: 498px;
		height: 544px;
		margin-left: -100px;
		margin-top: -100px;

	}
	
	.mirrored, .mirrored_blurred
	{
		-webkit-transform: scaleX(-1);
		-moz-transform: scaleX(-1);
		-ms-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		transform: scaleX(-1);	
	}
	
#crop_container
{
	position: relative;
	overflow: hidden;
}

	#crop_image
	{
		position: relative;
		float: left;
	}
	
		#upload_crop_input
		{
			display: none;
		}
		
		.mask_0
		{
			background-image: url('../img/crop_mask_0.png');
		}
		
		.mask_1
		{
			background-image: url('../img/crop_mask_1.png');
		}
		
		.mask_2
		{
			background-image: url('../img/crop_mask_2.png');
		}
	
	#crop_buttons
	{
		position: relative;
		float: left;
		margin-left: 50px;
	}
	
		.crop_button
		{
			background-color: #000000;
			color: #ffffff;
			line-height: 40px;
			width: 200px;
			border: solid 2px #cecece;
			cursor: pointer;
			text-align: center;
		}