

@font-face {
    font-family: 'source_sans_proregular';
    src: url('fonts/sourcesanspro-regular-webfont.eot');
    src: url('fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'crimson_textsemibold';
    src: url('fonts/crimsontext-semibold-webfont.eot');
    src: url('fonts/crimsontext-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/crimsontext-semibold-webfont.woff2') format('woff2'),
         url('fonts/crimsontext-semibold-webfont.woff') format('woff'),
         url('fonts/crimsontext-semibold-webfont.ttf') format('truetype'),
         url('fonts/crimsontext-semibold-webfont.svg#crimson_textsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}